---
title: 'Blog'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
eleventyNavigation:
    key: BLOG
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-843">
        <div class="cs-container">
            <span class="cs-int-title">Latest News</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background" aria-hidden="true">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="Thai massage banner" width="1280" height="568">
        </picture>
        <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
        <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white" />
        </svg>
    </div>

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async" />
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                                <!--Author Image-->
                                <picture class="blog-author-img">
                                    <img
                                    src="/assets/svgs/profile.svg"
                                    alt="house"
                                    width="32"
                                    height="32"
                                    decoding="async" />
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>
{% endblock %}