---
preloadImg: '/assets/images/hero.webp'
---

{% extends "layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}
  <!-- ============================================ -->
  <!--                   Banner                     -->
  <!-- ============================================ -->

  <div id="banner-843">
    <div class="cs-container">
      <span class="cs-int-title">{{ banner.title }}</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
      <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="{{ banner.imgAlt }}" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white" />
    </svg>
  </div>

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs-865">
    <div class="cs-container">
      <div class="cs-image-group">
        <picture class="cs-background">
          <!--Mobile Image-->
          <source media="(max-width: 600px)" srcset="/assets/images/hot-stone-m.webp">
          <!--Tablet and above Image-->
          <source media="(min-width: 601px)" srcset="/assets//images/hot-stone.webp">
          <img loading="lazy" decoding="async" src="/assets//images/hot-stone.webp" alt="{{ about.imgAlt }}" width="1280" height="568">
        </picture>
        <div class="cs-box">
          <span class="cs-number">2500+</span>
          <span class="cs-desc">
            {{ about.imgDesc }}
          </span>
        </div>
      </div>
      <div class="cs-content">
        <span class="cs-topper">{{ about.topper }}</span>
        <h2 class="cs-title">{{ about.title }}</h2>
        <p class="cs-text">
          {{ about.textOne }}
        </p>
        <p class="cs-text">
          {{ about.textTwo }}
        </p>
        <p class="cs-text">
          {{ about.textThree }}
        </p>
        <div id="quote-827">
          <span class="cs-quote-text">
            {{ about.quote }}
          </span>
          <span class="cs-name">{{ about.name }}</span>
          <span class="cs-job">{{ about.job }}</span>
          <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
        </div>
        <a href="" class="cs-button-solid">{{ about.button }}</a>
      </div>
    </div>
    <!--Floating Arrow-->
  </section>

  <!-- ============================================ -->
  <!--                Meet The Team                 -->
  <!-- ============================================ -->

  <section id="meet-team-858">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">{{ team.topper }}</span>
          <h2 class="cs-title">{{ team.title | safe }}</h2>
        </div>
        <a href="" class="cs-button-solid">{{ team.button }}</a>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson1.jpg" alt="{{ team.personOne.imgAlt }}" width="305" height="407">
          </picture>
          <div class="cs-info">
            <span class="cs-name">{{ team.personOne.name }}</span>
            <span class="cs-job">{{ team.personOne.job }}</span>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson2.jpg" alt="{{ team.personTwo.imgAlt }}" width="305" height="407">
          </picture>
          <div class="cs-info">
            <span class="cs-name">{{ team.personTwo.name }}</span>
            <span class="cs-job">{{ team.personTwo.job }}</span>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson3.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson3.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson3.jpg" alt="{{ team.personThree.imgAlt }}" width="305" height="407">
          </picture>
          <div class="cs-info">
            <span class="cs-name">{{ team.personThree.name }}</span>
            <span class="cs-job">{{ team.personThree.job }}</span>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson4.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson4.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fperson4.jpg" alt="{{ team.personFour.imgAlt }}" width="305" height="407">
          </picture>
          <div class="cs-info">
            <span class="cs-name">{{ team.personFour.name }}</span>
            <span class="cs-job">{{ team.personFour.job }}</span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  {% include 'components/cta.html' %}

{% endblock %}