---
title: 'Contact'
description: 'Indulge in healing Traditional Thai massage at Aroma Thai Massage & Spa in Girona. Contact us today.'
preloadImg: '/assets/images/hero.webp'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-843">
        <div class="cs-container">
            <span class="cs-int-title">{{ banner.title }}</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background" aria-hidden="true">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="{{ banner.imgAlt }}" width="1280" height="568">
        </picture>
        <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
        <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white" />
        </svg>
    </div>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact-265">
        <div class="cs-container">
            <div class="cs-left-section">
                <div class="cs-content">
                    <span class="cs-topper">{{ form.topper }}</span>
                    <h2 class="cs-title">{{ form.title }}</h2>
                    <p class="cs-text">{{ form.text }}</p>
                </div>
                <form id="cs-form-265" name="Contact Form" method="post">
                    <label>
                        {{ form.inputOne.label}}
                        <input required type="text" id="name-265" name="name" placeholder="{{ form.inputOne.placeholder }}">
                    </label>
                    <label>
                        {{ form.inputTwo.label}}
                        <input required type="text" id="email-265" name="email" placeholder="{{ form.inputTwo.placeholder }}">
                    </label>
                    <label>
                        {{ form.inputThree.label}}
                        <input required type="text" id="phThree-265" name="phone" placeholder="{{ form.inputThree.placeholder }}">
                    </label>
                    <label>
                        {{ form.inputFour.label}}
                        <input type="text" id="find-265" name="find-us" placeholder="{{ form.inputFour.placeholder }}">
                    </label>
                    <label class="cs-label-message">
                        {{ form.inputFive.label}}
                        <textarea required name="Message" id="message-265" placeholder="{{ form.inputFive.placeholder }}"></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">{{ form.button }}</button>
                </form>
            </div>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">{{ form.img.whatsapp }}</span>
                <a class="cs-link" href="https://wa.me/+34648294872">{{ form.img.chat }}</a>
                <!--Phone-->
                <span class="cs-header">{{ form.img.phone }}</span>
                <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
                <!--Address-->
                <span class="cs-header">{{ form.img.address }}</span>
                <a class="cs-link" href="{{client.address.mapLink}}">
                    {{client.address.lineOne}},
                    <br />
                    <span class="cs-block">
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/hot-stone-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hot-stone.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/hot-stone.webp" alt="building" width="542" height="662" aria-hidden="true">
                </picture>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}