{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/service.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-843">
        <div class="cs-container">
            <span class="cs-int-title">{{ banner.title }}</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background" aria-hidden="true">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="{{ banner.imgAlt }}" width="1280" height="568">
        </picture>
        <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
        <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white" />
        </svg>
    </div>

    <!-- ============================================ -->
    <!--                 Content Page                 -->
    <!-- ============================================ -->

    <section id="sbs-867">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/hot-stone-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/hot-stone.webp">
                <img loading="lazy" decoding="async" src="/assets/images/hot-stone.webp" alt="{{ imgAlt }}" width="630" height="775">
            </picture>
            <div class="cs-content">
                {{ content | safe }}

            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-709">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/hot-stone-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/hot-stone.webp">
                <img loading="lazy" decoding="async" src="/assets/images/hot-stone.webp" alt="rocks" width="650" height="740" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">FAQ's</span>
                <h2 class="cs-title">Thai Massage Frequently Asked Questions</h2>
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    {% if faqs.qOne %}
                        <li class="cs-faq-item active">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qOne.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qOne.text }}
                            </p>
                        </li>
                    {% endif %}

                    {% if faqs.qTwo %}
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qTwo.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qTwo.text }}
                            </p>
                        </li>
                    {% endif %}

                    {% if faqs.qThree %}
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qThree.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qThree.text }}
                            </p>
                        </li>
                    {% endif %}

                    {% if faqs.qFour %}
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qFour.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qFour.text }}
                            </p>
                        </li>
                    {% endif %}

                    {% if faqs.qFive %}
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qFive.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qFive.text }}
                            </p>
                        </li>
                    {% endif %}

                    {% if faqs.qSix %}
                        <li class="cs-faq-item">
                            <button class="cs-button">
                                <span class="cs-button-text">
                                    {{ faqs.qSix.button }}
                                </span>
                            </button>
                            <p class="cs-item-p">
                                {{ faqs.qSix.text }}
                            </p>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/images/icons/swoosh.svg" alt="swoosh" width="361" height="487" aria-hidden="true">
    </section>

{% endblock %}