---
title: 'Massage'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.webp'
permalink: 'massage/'
eleventyNavigation:
    key: MASSAGE
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/massage.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">Immersive & Relaxing Massages</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="Thai massage banner" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</div>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">MASSAGE</span>
            <h2 class="cs-title">Treat Yourself to an Incredible Experience</h2>
            <p class="cs-text">
               Embrace the gift of rejuvenation for your muscles and skin. Our skilled therapists seamlessly blend traditional Thai massage techniques with modern twists, enhancing your overall health and well-being. Explore a diverse menu of massages, from traditional Thai to aromatherapy, deep tissue, hot stone, and beyond.
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/thai-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/thai-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/thai-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/thai-massage.webp" alt="Thai massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Thai Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        Our authentic Thai massage will make you feel both relaxed and energised through its unique combination of pressure point and ancient stretching techniques. It releases tension, increases vitality and flexibility, and creates wholeness of the mind, body and spirit.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/aromatherapy-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/aromatherapy-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/aromatherapy-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/aromatherapy-massage.webp" alt="Aromatherapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Aromatherapy Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        This massage is performed with essential oils blended from flower and fruit extracts to stimulate the muscles by hand. It focuses on gentle and soft massage to reduce muscle tension. The oil massage has a relaxing aroma that activates the nervous system, reduces tension and relieves fatigue. This oil massage will make your skin smooth and rejuvenated whilst leaving a relaxing effect that will enable you to sleep well.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/lomi-lomi-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/massage-lomi-lomi-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/massage-lomi-lomi.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/massage-lomi-lomi.webp" alt="Lomi Lomi Massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Lomi Lomi Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        ‘Lomi lomi’ translates to ‘rub rub’ in Hawaiian and reflects the broad, flowing strokes made with the therapist’s fingers, palms, arms and elbows. Coconut oil is used to enable the strokes to be smooth whilst moisturising and nourishing the skin. The massage works gently yet deeply into the muscles with continuous, flowing strokes, allowing the recipient to relax and give in to the nurturing touch. At the end of the session, enjoy a refreshing shower in our facilities.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/herbal-compress/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/herbal-compress-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/herbal-compress-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/herbal-compress-massage.webp" alt="Herbal Compress" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Thai Herbal Compress</span></h3>
                    <p class="cs-item-text">
                       <strong>*BOOKING REQUIRED*</strong>
                    </p>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        The Thai herbal compress contains numerous herbs tightly bound in fabric which is steamed until hot and firmly rolled. After a full-body pressure point Thai massage, the hot herbal compress is pressed over the entire body in order to relieve general muscular aches, pains and tension. Additionally, improving and stimulating the lymphatic system whilst simultaneously increasing blood flow to aid muscle repair.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/hot-stone-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/hot-stone-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/hot-stone-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/hot-stone-massage.webp" alt="Hot Stone Massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Hot Stone Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>*BOOKING REQUIRED*</strong>
                    </p>
                    <p class="cs-item-text">
                       <strong>90 min 120 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 min 160 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        If you suffer from pain, a hot stone massage can be a natural pain reliever. Our therapists use the methods of a Swedish or classic massage combined with hot stones to give gentle strokes or firm pressure, as you prefer. The heat of the stones helps release tension throughout the body and especially in the back and shoulders, allowing those often tight muscles to be worked on more effectively. The hot stones also aid in improving your body’s circulation and to increase your body’s range of motion.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/foot-reflexology/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/foot-reflexology-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/foot-reflexology.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/foot-reflexology.webp" alt="Foot Reflexology Massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Foot Reflexology Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>30 min 30 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 min 55 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                       An ancient therapy that has its roots in reflexology, linking zones on the feet to specific parts of the body to stimulate blood circulation and improve the immune system. This treatment helps prevent constipation, muscle cramps, headaches and helps eliminate toxins. Reflexology stimulates all bodily functions whilst also having a positive effect on the mind, reducing stress and allowing for deep relaxation.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/back-neck-head-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/back-neck-shoulder-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/back-neck-shoulder-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/back-neck-shoulder-massage.webp" alt="Back, Neck, Shoulder & Head Massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Back, Neck, Shoulder & Head</span></h3>
                    <p class="cs-item-text">
                       <strong>40 min 45 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>60 min 55 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        This massage focuses specifically on the back, neck, shoulders and head, reducing muscle tension and fatigue whilst allowing you to relax fully with the use of our aromatic natural oils.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/cyclists-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/cyclist-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/cyclist-massage.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/cyclist-massage.webp" alt="Cyclists Regeneration Massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Cyclists Regeneration Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 60 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                       After a long ride this deep tissue massage will elongate your shortened hip flexors, relax your shoulders and lengthen your tight hamstrings. During your deep tissue massage your skin will turn light pink as blood rushes to the target area, bringing oxygen and nutrients whilst carrying away waste products. Massage increases blood flow aiding your body’s natural repair processes, accelerating recovery, getting you back on the bike sooner feeling fresher and more energised.
                    </p>
                </a>
            </li>
             <li class="cs-item">
                <a href="/jet-lag-recovery/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/jet-lag-recovery-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/jet-lag-recovery.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/jet-lag-recovery.webp" alt="Jet Lag Recovery Package" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Jet Lag Recovery Package</span></h3>
                    <p class="cs-item-text">
                        <strong>60 min 55 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        Counteract the effects of long-haul travel with this re-energising facial and body treatment. Feet are first cleansed using our Thai herbal foot soak bag before the body is treated to a thorough exfoliation using our antioxidant scrub. Relax with a facial treatment consisting of a gentle cleanse, mask and moisturising. A full body massage using our Renewed Energy aromatherapy oil is at the heart of the treatment; releasing tension, stimulating the circulation and soothing tired muscles to bring the body back into the perfect state of balance. The treatment draws to a close with a speciality herb tea blend served to help induce restful sleep.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Schedule An Appointment</a>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Discover blissful rejuvenation and book your Thai beauty spa escape today!</h2>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="/assets/images/icons/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>

{% endblock %}