---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: HOME
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/local.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-856">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">IMMERSIVE & RELAXING</span>
            <h1 class="cs-title">Traditional Thai Massage & Beauty Spa in Girona</h1>
            <p class="cs-text">
                Melt into the world of gentle pressure and massage techniques passed down from generation to generation and designed to soothe your body. Whether treating yourself to a much-needed massage or gifting a beauty spa treatment to friends and loved ones, our trained therapists are here to elevate your dream visit.
            </p>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="assets/images/hot-stone-m.webp">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="assets/images/hot-stone.webp">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="assets/images/hot-stone.webp">
            <img aria-hidden="true" decoding="async" src="assets/images/hot-stone.webp" alt="hot stone massage" width="570" height="701">
            </picture>
    </div>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">MASSAGE IN GIRONA</span>
            <h2 class="cs-title">Treat Yourself to an Incredible Experience</h2>
            <p class="cs-text">
                Embrace the gift of rejuvenation for your muscles and skin. Our skilled therapists seamlessly blend traditional Thai massage techniques with modern twists, enhancing your overall health and well-being. Explore a diverse menu of massages, from traditional Thai to aromatherapy, deep tissue, hot stone, and beyond.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="thai-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="assets/images/thai-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="assets/images/thai-massage.webp">
                        <img loading="lazy" decoding="async" src="assets/images/thai-massage.webp" alt="thai massage treatment" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Thai Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        Our authentic Thai massage will make you feel both relaxed and energised through its unique combination of pressure point and ancient stretching techniques. It releases tension, increases vitality and flexibility, and creates wholeness of the mind, body and spirit.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="aromatherapy-massage/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="assets/images/aromatherapy-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="assets/images/aromatherapy-massage.webp">
                        <img loading="lazy" decoding="async" src="assets/images/aromatherapy-massage.webp" alt="aromatherapy massage" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Aromatherapy Massage</span></h3>
                    <p class="cs-item-text">
                       <strong>60 min 55 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        This massage is performed with essential oils blended from flower and fruit extracts to stimulate the muscles by hand. It focuses on gentle and soft massage to reduce muscle tension. The oil massage has a relaxing aroma that activates the nervous system, reduces tension and relieves fatigue. This oil massage will make your skin smooth and rejuvenated whilst leaving a relaxing effect that will enable you to sleep well.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="herbal-compress/" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="assets/images/herbal-compress-massage-m.webp">
                        <source media="(min-width: 601px)" srcset="assets/images/herbal-compress-massage.webp">
                        <img loading="lazy" decoding="async" src="assets/images/herbal-compress-massage.webp" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3"><span class="cs-color">Thai Herbal Compress</span></h3>
                    <p class="cs-item-text">
                       <strong>*BOOKING REQUIRED*</strong>
                    <p class="cs-item-text">
                       <strong>60 min 65 €</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 min 85 €</strong>
                    </p><br>
                    <p class="cs-item-text">
                        The Thai herbal compress contains numerous herbs tightly bound in fabric which is steamed until hot and firmly rolled. After a full-body pressure point Thai massage, the hot herbal compress is pressed over the entire body in order to relieve general muscular aches, pains and tension. Additionally, improving and stimulating the lymphatic system whilst simultaneously increasing blood flow to aid muscle repair.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Massages</a>
    </div>
</section>



<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-r-868">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets/images/facial-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets/images/facial.webp">
                <img loading="lazy" decoding="async" src="assets/images/facial.webp" alt="About Aroma Thai image" width="1280" height="568">
            </picture>
            <div class="cs-box">
                <span class="cs-number">2500+</span>
                <span class="cs-desc">
                    Patients served successfully
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">ABOUT OUR SPA</span>
            <h2 class="cs-title">Authentic Thai Massage Treatment</h2>
            <p class="cs-text">
                Aroma Thai loves bringing the blissful escape of traditional Thai massage and beauty spa services to all our clients in Spain. Our dedicated team of professionals brings years of expertise to address your specific health concerns, ensuring a trusted haven of relaxation each and every time.
            </p>
            <div id="button-box-837" class="cs-contact-group">
            <a class="cs-link" href="tel:555-555-0234">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fphone.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Call Now</span>
                    <span class="cs-link-content">(555) 555-0234</span>
                </div>
            </a>
            <a class="cs-link" href="mailto:Info@health&wellness.com">
                <picture class="cs-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fmail.svg" alt="icon" width="24" height="24">
                </picture>
                <div class="cs-info">
                    <span class="cs-header">Send A Message</span>
                    <span class="cs-link-content">Info@health&wellness.com</span>
                </div>
            </a>
        </div>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-890">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">HOLISTIC & SOOTHING</span>
            <h2 class="cs-title">Why Choose Aroma Thai Massage & Spa</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Caring & Experienced Therapists</h3>
                    <p class="cs-item-text">
                       Our dedicated therapists combine compassion and expertise to provide personalized care, ensuring optimal comfort and well-being throughout your spa journey.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Rejuvenating Spa Treatments</h3>
                    <p class="cs-item-text">
                        Indulge in our luxurious spa treatments that blend traditional techniques with modern innovations, offering a revitalizing escape for your body and mind.
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Stress Eliminating Massages</h3>
                    <p class="cs-item-text">
                        Experience ultimate stress elimination through our expertly crafted massages. Our therapists skillfully target tension to restore balance, leaving you refreshed, renewed, and ready to embrace life's challenges.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fballs1.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Authentic Thai Experience</h3>
                    <p class="cs-item-text">
                        Immerse yourself in the richness of an authentic Thai experience. Let our skilled therapists bring the traditions and techniques of Thailand to life, transporting you to a world of serenity and tranquility.
                    </p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-865">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="assets/images/facial-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets/images/facial.webp">
                <img loading="lazy" decoding="async" src="assets/images/facial.webp" alt="therapy" width="1280" height="568">
            </picture>
            <div class="cs-box">
                <span class="cs-number">2500+</span>
                <span class="cs-desc">
                    Patients served successfully
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">BEAUTY SPA TREATMENTS</span>
            <h2 class="cs-title">Treat Your Body & Skin Today</h2>
            <p class="cs-text">
                Experience the ultimate fusion of tradition and modern therapies at Aroma Thai. Our premium beauty spa treatments blend natural products with expert skills, ensuring your skin radiates beauty and wellness. Discover a new level of pampering from organic facials to sessions that fight the effects of aging and visit our Girona spa today!
            </p>
            <ul id="list-893" class="cs-ul">
                <li class="cs-li">
                    Organic Facial
                </li>
                <li class="cs-li">
                    Glow To Go
                </li>
                <li class="cs-li">
                    Anti-ageing Facial
                </li>
                
                
                
                <li class="cs-li">
                    Facial Oxgenating Hygeine
                </li>
                <li class="cs-li">
                    Body Scrub Treatment
                </li>  
            </ul>
            <a href="" class="cs-button-solid">View Our Treatments</a>
        </div>
    </div>
    
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much are house cleaning services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Some 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is your plan cancellation policy?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How long should a house cleaning take?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much are house cleaning services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can cleanings be scheduled?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much are house cleaning services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What is your plan cancellation policy?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How long should a house cleaning take?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How much are house cleaning services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can cleanings be scheduled?
                    </span>
                </button>
                <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-607">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Our Incredible Clients Say About Us</h2>
            <p class="cs-text">
                We love getting to know every one of our clients. Our services are well known within our local community just as much as our international vacationers. Just look at what our satisfied visitors have to say about Aroma Thai Massage & Spa.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="assets/images/icons/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Loving the color!</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iste vitae, aliquam temporibus modi libero dolorem rerum? Dolore soluta eligendi mollitia. Doloribus et exercitationem cupiditate?
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="assets/images/icons/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Affordable</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iste vitae, aliquam temporibus modi libero dolorem rerum? Dolore soluta eligendi mollitia. Doloribus et exercitationem cupiditate?
                </p>
                <span class="cs-name">Daniel</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="assets/images/icons/quote.svg" alt="quote icon" aria-hidden="true" width="40" height="38" loading="lazy" decoding="async">
                <h3 class="cs-h3">Professional and the best!</h3>
                <p class="cs-item-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores iste vitae, aliquam temporibus modi libero dolorem rerum? Dolore soluta eligendi mollitia. Doloribus et exercitationem cupiditate?
                </p>
                <span class="cs-name">Daniel</span>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Gift Card                  -->
<!-- ============================================ -->

<section id="services-880">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gift Cards</span>
            <h2 class="cs-title">Give The Gift of Wellbeing</h2>
            <p class="cs-text">
               Treat your loved ones to the gift of pure relaxation and rejuvenation. Our diverse menu of massages, including traditional Thai, aromatherapy, deep tissue, and hot stone, ensures an unforgettable experience. Spread joy for any occasion—birthdays, anniversaries, or as a token of appreciation. Give the gift of tranquility, wellness, and lasting memories with an Aroma Thai Massage and Spa gift card. Purchase yours today!
            </p>
            <a href="" class="cs-button-solid">View All Gift Cards</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="">
                        <source media="(min-width: 601px)" srcset="">
                        <img loading="lazy" decoding="async" src="" alt="Happy Birthday gift card design" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Happy Birthday Gift Card</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus beatae placeat!
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="">
                        <source media="(min-width: 601px)" srcset="">
                        <img loading="lazy" decoding="async" src="" alt="I Love You gift card design" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">I Love You Gift Card</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus beatae placeat!
                    </p>
                </a>
            </li>
            
        </ul>
    </div>
</section>
                                
                                


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Discover blissful rejuvenation and book your Thai beauty spa escape today!</h2>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="assets/images/icons/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>


                                                            
                                
<script>
    const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
</script>                              

{% endblock %}